body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

.logout {
    color: #BDBDBD;
    padding-left: 10px;
}

.logout-glyph:hover span {
  color: #FFFFFF;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #424242;
}

.rule-pass, .iface-up {
    color: #4CAF50;
}

.rule-block, .rule-reject, .iface-down {
    color: #B71C1C;
}

.rule-match {
    color: #337ab7;
}

.glyph-link {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    color: #337ab7;
}

.text-danger {
    color: #a94442;
}

.form-control {
    height: 24px;
    padding: 0 6px;
}

.col-sm-10 .form-control {
    width: calc(50% - 15px);
}

.col-sm-10 {
    padding-top: 7px;
}

.action-buttons {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.help-block {
    margin-bottom: 2px;
}

.form-group {
    margin-bottom: 0;
    padding: 7px 5px 7px 5px;
    border-bottom: 1px solid #E0E0E0;
}

.no-border {
    border-bottom: 0px;
}

.panel-body {
    padding: 0px 15px 0px 15px;
}

.table-addresses {
    padding-bottom: 10px;
}

.table>tbody>tr.selected {
    background-color: #BDBDBD;
}

.cell-right {
    text-align: right;
    padding-right: 20px !important;
}

.modal-header-danger {
    color: #fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel-heading a {
    cursor: pointer;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content:"\e080";
}

.cursor-help {
    cursor: help;
}

a:hover.no-underline {
    text-decoration: none;
}

.monospace {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}
